
#forum-front {
    // margin-left: 2rem; 
}

#bbpress-forums {

    // max-width: 109rem;
    margin-top: 6rem; 
    // margin-left: 2rem;

    @include respond('tab-land') {
        margin-top: 5rem; 
        margin-left: 0; 
    }

    li {
        font-size: 1.5rem; 
    }

    a {
        font-size: 1.4rem; 
        font-weight: normal; 
    }

    div.bbp-pagination {
        width: 62%;

        @include respond('phone') {
            width: 100%; 
        }
    }

    div.bbp-search-form {
        float: right; 
    }


    div.bbp-breadcrumb, div.bbp-topic-tags {
        
        font-size: 2.4rem; 

        a {
            font-size: 2.4rem; 
        }
    }

    div.bbp-search-form input, div.bbp-search-form button {

        @include respond('phone') {
            padding: .2rem 1.2rem; 
        }
    }

    li.bbp-header {
        // background: $color-green; 
        background: $color-blue; 
        color: white; 
        opacity: 0.8; 
    }

    #subscription-toggle, #bbpress-forums #favorite-toggle {
        margin-right: .5rem; 
    }

    .forum-titles {
        color: white; 
        font-size: 1.4rem; 
        font-family: 'Trello', Arial, sans-serif;
        text-transform: uppercase; 
    }

    .bbp-forum-info, .bbp-topic-title {
        
        @include respond('tab-land') {
            width: 46%; 
        }

        @include respond('small-phone') {
            width: 42%; 
        }
    }

    .bbp-forum-topic-count, .bbp-topic-voice-count {
        
        @include respond('tab-land') {
            width: 14%; 
        }

        @include respond('small-phone') {
            width: 20%; 
        }
    }

    .bbp-forum-reply-count, .bbp-topic-reply-count {
        
        @include respond('tab-land') {
            width: 14%; 
        }

        @include respond('small-phone') {
            width: 18%; 
        }
    }

    .bbp-forum-freshness, .bbp-topic-freshness {
        
        @include respond('tab-land') {
            width: 23%; 
        }

        @include respond('small-phone') {
            width: 20%; 
        }
    }


    // Forum Typography
    .bbp-forum-title {
        text-decoration: none;
        color: $font-black; 
        font-size: 1.6rem; 

        &:hover {
            color: $color-blue; 
        }
    }

    li.bbp-body ul.forum, li.bbp-body ul.topic {
        background-color: $color-beige; 
    }

    li.bbp-body ul.even {
        background-color: white; 
        border: 1px solid $color-beige; 
    }

    div.bbp-template-notice {
        // background-color: $color-light-purple; 
        background-color: $color-blue; 
        color: white; 

        li {
            color: white; 

            a {
                color: white; 
            }
        }
    }

    div.bbp-breadcrumb, div.bbp-topic-tags {
        font-size: 1.6rem; 
    }

    div.odd, ul.odd {
        background-color: $color-beige; 
    }

    #bbp_search {
        background-color: white; 
        border: 1px solid $color-blue; 
    }

    input {
        font-size: 1.2rem; 
        text-transform: lowercase; 
        background-color: white; 
        color: $font-black; 
        border: 1px solid $font-black; 
    }

    input.button {
        background-color: $color-red; 
        color: white; 
        border: 1px solid white; 
    }


}

article.forum, article.topic {
    margin-top: 4rem; 
}

// Users Page 
body.bbp-user-page {
    font-size: 1.5rem; 
}

/// Modify users page
#buddypress {
    #header-cover-image {
        background: url('../img/front-page-image-cropped-2.jpg'); 
    }
}

#front-personal-li, #forums-personal-li {
    display: none; 
}

#send-to-input, #subject {
    text-transform: none; 
    box-shadow: none; 
    text-shadow: none; 
}