
#bbpress-forums {

    // max-width: 109rem;
    margin-left: 2rem;

    @include respond('tab-land') {
        margin-left: 0; 
    }

    li {
        font-size: 1.5rem; 
    }

    a {
        font-size: 1.2rem; 
        font-weight: normal; 
    }

    div.bbp-search-form {
        float: right; 

        // @include respond('tab-land') {
        //     float: left; 
        // }
    }

    // .bbp-breadcrumb, .bbp-template-notice, .bbp-template-notice, .bbp-pagination {

    //     @include respond('tab-land') {
    //         margin: 0 4rem; 
    //     }
    // }

    div.bbp-breadcrumb, div.bbp-topic-tags {
        
        font-size: 2.4rem; 

        a {
            font-size: 1.6rem; 
        }
    }

    li.bbp-header {
        background: $color-green; 
        color: white; 
        opacity: 0.8; 
    }

    #subscription-toggle, #bbpress-forums #favorite-toggle {
        margin-right: .5rem; 
    }

    .forum-titles {
        color: white; 
        font-size: 1.4rem; 
        font-family: 'Trello', Arial, sans-serif;
        text-transform: uppercase; 
    }

    .bbp-forum-info, .bbp-topic-title {
        
        @include respond('tab-land') {
            width: 46%; 
        }
    }

    .bbp-forum-topic-count, .bbp-topic-voice-count {
        
        @include respond('tab-land') {
            width: 14%; 
        }
    }

    .bbp-forum-reply-count, .bbp-topic-reply-count {
        
        @include respond('tab-land') {
            width: 14%; 
        }
    }

    .bbp-forum-freshness, .bbp-topic-freshness {
        
        @include respond('tab-land') {
            width: 23%; 
        }
    }


    // Forum Typography
    .bbp-forum-title {
        text-decoration: none;
        color: $font-black; 
        font-size: 1.6rem; 

        &:hover {
            color: $color-blue; 
        }
    }

    li.bbp-body ul.forum, li.bbp-body ul.topic {
        background-color: $color-beige; 
    }

    li.bbp-body ul.even {
        background-color: white; 
        border: 1px solid $color-beige; 
    }

    div.bbp-template-notice.info {
        background-color: $color-light-purple; 
    }

    div.bbp-breadcrumb, div.bbp-topic-tags {
        font-size: 1.6rem; 
    }

    div.odd, ul.odd {
        background-color: $color-beige; 
    }

    #bbp_search {
        background-color: white; 
        border: 1px solid $color-blue; 
    }

    input {
        font-size: 1.2rem; 
        text-transform: lowercase; 
        background-color: white; 
        color: $font-black; 
        border: 1px solid $font-black; 
    }

    input.button {
        background-color: $color-red; 
        color: white; 
        border: 1px solid white; 
    }


}

article.forum, article.topic {
    margin-top: 4rem; 
}