/*Responsive Header*/ 
.responsive-header-menu {
	display: none; 
	width: auto; 
	position: absolute; 
	top: 1rem; 
	right: 0; 

	@include respond('tab-land') {
		display: flex; 
		width: 55%; 
		justify-content: flex-end; 
	}

	@include respond('tab-port') {
		right: 5rem; 
	}

	@include respond('phone') {
		display: flex; 
		width: 25%; 
	}

	&__button {
		background: white; 
		height: 4rem;
		display: inline-block;
		line-height: 4rem;
		text-align: center;
		border-radius: .6rem;
		color: $font-black; 
		vertical-align: top; 
		padding: 0 2rem; 
		margin-right: .75rem; 
		box-shadow: 1px 1px 8px -2px;

		// For content
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@include respond('tab-land') {
			line-height: 45px;
			text-align: center;
			padding: .2rem 1rem .7rem 1rem; 
			border-radius: .6rem;
			vertical-align: top;
		}

		&--text {
			display: block; 
			color: $font-black; 
			text-transform: none; 
			text-shadow: none; 
			margin-right: 2rem; 

			@include respond('phone') {
				display: none; 
			}


		}

		i {
			font-size: 2rem; 
			color: $color-blue; 
		}

		@include respond('tab-land') {
			width: 35%; //original from RS default
		}

		@include respond('phone') {
			width: 5rem; 
		}
	}
}

ul.menu {
    display: none; 

    &.show {
        display: flex; 
	}

	&.hide {
		display: none; 
	}

}

.dropdown-user-info {
	
	display: none; 

	&.show {
		display: block; 
	}

	&.hide {
		display: none; 
	}

	.menu {
		flex-direction: flex; 
		justify-content: flex-end; 
	}
}

.dropdown-menu {
	
    position: absolute;
    width: 100%;
    z-index: 10;
	background: white;

	@include respond('tab-land') {
		left: -3rem; 
	}

	@include respond('tab-port') {
		left: -4rem; 
	}
	
	@include respond('phone') {
		left: -5.5rem;
	}
}

.menu {
	z-index: 10; 
	list-style: none; 
	display: flex; 
	margin-top: 2rem; 

    @include respond('tab-land') {
        width: 96%; 
		flex-direction: column; 
		// justify-content: flex-end; 
		// flex-wrap: wrap;
		right: 0; 
		margin: 2rem 2rem; 
	}

	@include respond('phone') {
        width: 96%; 
		flex-direction: column; 
		left: 0; 
    }
    
    .menu-item {
        color: $font-black;
        text-align: center;
        background: white;
        height: 4.5rem;
        // min-width: 9.5rem; 
		border-radius: .6rem;
		text-transform: uppercase;
		opacity: 1;
		font-size: 1rem;
		line-height: 1.5rem;
		font-family: 'Telex', Arial, sans-serif;
		display: flex; 
		justify-content: center; 
		align-items: center; 
		margin: 0.2rem 0; 
		border: 1px solid $color-red; 

		@include respond('tab-land') {
			box-shadow: 1px 1px 8px -2px;
		}
		
		a {
			color: $color-blue; 
			font-size: 1.15rem; 
		}

        @include respond('phone') {
            display: inline-block;
            text-align: center;
            height: 4.5rem;
            line-height: 4.5rem;
            padding: 0 .5rem;
            border-radius: .6rem;
			margin-bottom: .1rem;
        }

        @include respond('tab-land') {
            
        }

    }
}


@media screen and (min-width: 769px ) {


	/* How to styling */

	.how-to-content p {
		font-size: 20px;
	}
}