/*Responsive Header*/ 
.responsive-header-menu {
	display: none; 
	width: auto; 
	position: absolute; 
	padding: 1rem 0; 

	// Upper Menu 
	top: .5rem; 
	right: 0; 

	@include respond('tab-land') {
		display: flex; 
		width: 55%; 
		justify-content: flex-end; 
	}

	@include respond('tab-port') {
		right: 1rem; 
	}

	@include respond('phone') {
		display: flex; 
		width: 25%; 
	}

	//Lower Menu
	// top: 7.5rem; 
	// right: 0; 

	&__button {
		background: white; 
		height: 4rem;
		display: inline-block;
		line-height: 4rem;
		text-align: center;
		border-radius: .6rem;
		vertical-align: top;
		margin: 0;
		padding: 0 2rem; 
		margin-left: .5rem; 
		box-shadow: 1px 1px 8px -2px;

		&--text {
			display: none; 
		}

		i {
			font-size: 1.5rem; 
			color: $color-blue; 
		}

		@include respond('tab-land') {
			width: 35%; //original from RS default
		}

		@include respond('phone') {
			width: 5rem; 
		}
	}
}

ul.menu {
    display: none; 

    &.show {
        display: flex; 
	}

	&.hide {
		display: none; 
	}

}

.dropdown-user-info {
	
	display: none; 

	&.show {
		display: block; 
	}

	&.hide {
		display: none; 
	}

	.menu {
		flex-direction: flex; 
		justify-content: flex-end; 
	}
}

.menu {
	position: absolute; 
	top: 5rem; 
	z-index: 10; 
	list-style: none; 
	display: flex; 

    @include respond('tab-land') {
        width: 100%; 
		flex-direction: row; 
		justify-content: flex-end; 
		flex-wrap: wrap;
		right: 0; 
	}

	@include respond('phone') {
        width: 100%; 
		flex-direction: column; 
		left: 0; 
    }
    
    .menu-item {
        color: white;
        text-align: center;
        background: $color-blue;
        border: 1px solid $color-light-purple;
        height: 4.5rem;
        line-height: 4.5rem;
        min-width: 9.5rem;
        padding: 0 .5rem;
        border-radius: .6rem;

        @include respond('phone') {
            display: inline-block;
            text-align: center;
            height: 4.5rem;
            line-height: 4.5rem;
            min-width: 9.5rem;
            width: 100%; 
            padding: 0 .5rem;
            border-radius: .6rem;
            margin-bottom: .1rem;
        }

        @include respond('tab-land') {
            
        }

    }
}


@media screen and (min-width: 769px ) {


	/* How to styling */

	.how-to-content p {
		font-size: 20px;
	}
}