.site-header {
	width: 100%; 
	display:flex; 
	flex-direction: column; 

	&__logo {

		.site-title {
			display: none; 
		}
	}
	
	&__topnav {
		width: 100%; 
		background-image:none;
		background: $color-blue;
		border: none;
		padding: 10px 25px 0px 25px;
		margin-bottom: 3rem; 
	}

	&__navigation {
		display: flex; 
		flex-direction: row; 
		margin-top: 3rem; 

		ul {
			display: flex; 
			width: 100%; 
			list-style: none; 

			li {
				background: $color-red;
				font-size: 1.6rem;
				line-height: 3.6rem;
				margin-right: .5rem;

				a {
					text-decoration: underline; 
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					opacity: 1;
					font-size: 1.3rem;
					line-height: 1.5rem;
					padding: 0.7rem 0 0.7rem 1.2rem;
					margin: 0 1rem 0 0;
				}
			}
		}
	}

	&__submenu {
		
		ul {
			display: flex; 
		}
	}
}


@media screen and (min-width: 769px ) {


	/* How to styling */

	.how-to-content p {
		font-size: 20px;
	}
}


	/* Home page styling */ 

	#SearchBarContainer {
		margin-top: 4.25% !important;
	}

	.SearchSpace .SearchItem{
		margin: 0px !important;
		padding: 0;
    	font-weight: bold;
	}


	#HeaderNav2{

		float: left;
	    padding-left: 30px;
	    font-size: 18px;
	    margin: 5px 0 0 0;
	    line-height: 35px;
	    padding-top: 7px;

	}

	.HorizontalNav li, .HorizontalNav li {
	    zoom: 1;
	    display: inline;
	    padding: 0 0.35em 0 0.5em;
	    margin: 0px;
	}

	#HeaderNav2 {
	    margin: 5px 0 0 0;
	    line-height: 35px;
	    padding-top: 7px;
	}

	#HeaderImg {
		max-height: 50px;
	    max-width: 320px;
	    clear: both;
	    display: inline-block;
	    height: auto;
	}
	

#Header {
    background: transparent; 
	display: flex; 
	padding: 0; 
    padding-bottom: 25rem; 
}

#HeaderResponsive {
    position: absolute; 
	top: 8rem; 
	margin: 0 4rem; 
}

#Header {
	#HeaderNav1 {
		width: 100%; 
		text-align: right; 
		background: #4d2a69;
		position: absolute; 
		top: 0; 
		display: flex !important; 
	justify-content: space-between; 
		padding: 1rem 3rem 0 3rem; 
		margin-top: 0; 

		li.nyu-logo {
			width: 16rem; 
			height: auto; 
			
			a {
				opacity: 1; 

				img {
					width: 100%; 
					height: auto; 
					margin-top: .5rem; 
				}
			}
		}
		
		ul {
			max-width: 144rem; 
			margin: 0 auto; 
			margin-right: 8rem; 
	
			li.UploadButton {
				a {
					color: $color-blue; 
					background: white;
					opacity: 0.7; 
	
					&:hover {
						opacity: 1; 
					}
	
					i {
						color: $color-blue; 
					}
				}
			}
		}
	}
}


#HeaderResponsive {
	width: auto; 
	height: auto; 

	a {
		height: auto; 

		#HeaderImg {
			max-height: 70px; 
			width: auto; 
		}
	}
}

#HeaderNav2 {
    position: absolute; 
	top: 16rem; 
	margin: 0 4rem; 
    
}