.site-header {
	width: 100%; 
	display:flex; 
	flex-direction: column; 

	.container {
		margin: 0 3rem; 

		@include respond('phone') {
			margin: 0 1rem; 
		}
	}

	&__logo {

		.site-title {
			display: none;
		}

		img {
			height: 6rem; 
			width: auto; 
		}
	}
	
	&__topnav {
		width: 100%; 
		background-image:none;
		background: $color-blue;
		border: none;
		padding: 1.5rem 3rem 1.5rem 3rem;
		margin-bottom: 2rem; 

		@include respond('tab-port')  {
			padding: 1rem 0; 
		}

		.container {
			display: flex; 
			justify-content: space-between; 
			position: relative; 
			max-width: 96%; 
			margin-right: 4rem; 
			margin-left: 3rem;
			
			@include respond('tab-port') {
				max-width: 100%; 
				// margin-right: 2rem; 
				margin-left: 1rem; 
			}

			@include respond('big-desktop') {
				// max-width: 127rem; 
			}

			@include respond('huge-desktop') {
				// max-width: 167rem; 
			}
		}

		&--nyulogo {
			width: 16rem; 
			height: auto; 

			img {
				max-width: 100%; 
				height: 25px; 
			}
		}

		li {
			zoom: 1;
			padding: 0 0.35em 0 0.5em;
			margin: 0px;

			a {
				color: #fff;
			}
		}

		.fa-user:before {
			content: "\f007";
		}

		// User and Admin 
		ul.user-buttons {
			display: flex; 
			width: 22rem; 
			color: white; 

			li {
				display:flex; 
				padding-top: .5rem;

				a {
					display: flex; 
					align-items: baseline;
					font-size: 1.6rem; 

					i {
						font-size: 1.6rem; 
						margin-right: .8rem; 
					}
				}
			}

			@include respond('tab-land') {
				display: none; 
			}
		}
	}

	&__navigation {
		display: flex; 
		flex-direction: row; 
		width: 96%; 
		margin-top: 0rem; 
		margin-left: -2rem; 
		
		position: absolute; 
		top: 5.5rem; 
		// left: 30rem; 

		ul {
			display: flex; 
			justify-content: flex-end; 
			width: 97%; 
			list-style: none; 

			li.menu-item {
				background: $color-red;
				line-height: 3.6rem;
				height: auto;
				padding: 0 0.5em 0 0.5em;
				margin-right: .5rem;
				border: 0;
				border-radius: 0; 

				@include respond('tab-port') {
					width: 15.1rem; 
				}

				// @include respond('big-desktop') {
				// 	width: 15.6rem; 
				// }

				// @include respond('huge-desktop') {
				// 	width: 17.1rem; 
				// }

				a {
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					opacity: 1;
					font-size: 1.2rem;
					line-height: 1.5rem;
					font-family: 'Telex', Arial, sans-serif;
					margin: 0 1rem 0 0;
					padding: 0.7rem 0 0.7rem 1rem;
					display: block;
				}
			}
		}
	}

	// &__submenu {
		
	// 	ul {
	// 		display: flex; 
	// 	}
	// }
}

/*******RESPONSIVE STYLES FOR HEADER AND NAV************/ 
#site-navigation {
	display: flex; 

	@include respond('tab-land') {
		display: none; 
	}

}



/*///////////////////////////// 
	STYLES LEFT OVER FROM
/////////////////////////////*/


	/* Home page styling */ 

	#SearchBarContainer {
		margin-top: 4.25% !important;
	}

	.SearchSpace .SearchItem{
		margin: 0px !important;
		padding: 0;
    	font-weight: bold;
	}


	#HeaderNav2{

		float: left;
	    padding-left: 30px;
	    font-size: 18px;
	    margin: 5px 0 0 0;
	    line-height: 35px;
	    padding-top: 7px;

	}

	.HorizontalNav li, .HorizontalNav li {
	    zoom: 1;
	    display: inline;
	    padding: 0 0.35em 0 0.5em;
	    margin: 0px;
	}

	#HeaderNav2 {
	    margin: 5px 0 0 0;
	    line-height: 35px;
	    padding-top: 7px;
	}

	#HeaderImg {
		max-height: 50px;
	    max-width: 320px;
	    clear: both;
	    display: inline-block;
	    height: auto;
	}
	

#Header {
    background: transparent; 
	display: flex; 
	padding: 0; 
    padding-bottom: 25rem; 
}

#HeaderResponsive {
    position: absolute; 
	top: 8rem; 
	margin: 0 4rem; 
}

#Header {
	#HeaderNav1 {
		width: 100%; 
		text-align: right; 
		background: #4d2a69;
		position: absolute; 
		top: 0; 
		display: flex !important; 
	justify-content: space-between; 
		padding: 1rem 3rem 0 3rem; 
		margin-top: 0; 

		li.nyu-logo {
			width: 16rem; 
			height: auto; 
			
			a {
				opacity: 1; 

				img {
					width: 100%; 
					height: auto; 
					margin-top: .5rem; 
				}
			}
		}
		
		ul {
			max-width: 144rem; 
			margin: 0 auto; 
			margin-right: 8rem; 
	
			li.UploadButton {
				a {
					color: $color-blue; 
					background: white;
					opacity: 0.7; 
	
					&:hover {
						opacity: 1; 
					}
	
					i {
						color: $color-blue; 
					}
				}
			}
		}
	}
}


#HeaderResponsive {
	width: auto; 
	height: auto; 

	a {
		height: auto; 

		#HeaderImg {
			max-height: 70px; 
			width: auto; 
		}
	}
}

#HeaderNav2 {
    position: absolute; 
	top: 16rem; 
	margin: 0 4rem; 
    
}