/*Color Variables*/ 

$color-blue: #4d2a69; 
$color-red: #a91a38; 
$color-green: #5b7667; 
$font-black: #1b1c1e; 

$hover-blue: #57357b; 
$slate-black: #5c5c5c; 

$color-beige: #f1efe7; 
$color-light-purple: #e1daeb; 

